body {
    margin: 0;
}

.header {
    position: relative; /* Для позиционирования верхнего изображения */
    height: 200px; /* Задайте высоту шапки для наглядности */
    background-color: #eee; /*  Чтобы видеть границы */
}

.header .top-left-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
    max-height: 80%;
    object-fit: contain;
}

.content {
    position: relative; /* Для позиционирования нижнего изображения */
    height: 400px; /*  Для наглядности */
    background-color: #ccc;
}

.content .bottom-right-image {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 45%;
    max-height: 50%;
    object-fit: contain;
    opacity: 0.7;
}
