/* Общие стили */
body {
    font-family: sans-serif;
    margin: 0; /* Убираем margin по умолчанию */
    padding: 0;
    background-color: #f4f4f4;
    height: 100vh; /* Занимает всю высоту экрана */
}

/* Шапка */
.header {
    background-color: #191970;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden; /* Чтобы верхнее изображение не вылезало за шапку */
}

.header h1 {
    font-size: 2.5em;
    margin: 0;
}

/* Верхнее изображение */
.header .top-left-image {
    position: absolute;
    top: 0;
    left: -7.1428%; /* Смещаем влево на 1/14 (половину от предыдущего значения) */
    width: 30%; /* Примерно 1/3 экрана */
    max-height: 80%; /* Чуть меньше высоты шапки */
    object-fit: contain; /* Чтобы изображение помещалось в контейнер и сохраняло пропорции */
}

/* Кнопка "Вернуться на главную" */
.back-button {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

/* Контент */
.content {
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative; /* Для позиционирования нижнего изображения */
    min-height: calc(100vh - 40px); /*  Высота минимум на весь экран, учитываем отступы сверху и снизу */
}

/* Заголовок на странице */
.content h2 {
    font-size: 1.8em;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Секции */
.content .section {
    margin-bottom: 20px;
}

/* Стиль для пунктов */
.content .section p span {
    font-size: 1.2em; /* Увеличиваем размер символа */
    margin-right: 5px; /* Небольшой отступ от символа */
    color: #333; /* Цвет символа */
}

/* Списки */
.content ul {
    list-style-type: disc;
    padding-left: 20px;
}

/* Элементы списка */
.content li {
    font-size: 1.1em;
    line-height: 1.5;
}

/* Стиль для абзацев */
.content p {
    font-size: 1.1em;
    line-height: 1.5;
    margin-bottom: 15px;
}

/* Заголовок альтернативы */
.content h3 {
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Нижнее изображение */
.content .bottom-right-image {
    position: absolute;
    bottom: 0; /* Прижимаем к низу */
    right: 0; /* Прижимаем к правому краю */
    /* Убираем margin'ы, чтобы не смещать её */
    /* margin-right: 16.6667%;  Смещаем вправо на 1/6 */
    /* margin-bottom: 16.6667%;  Смещаем вниз на 1/6 */
    width: 40%; /* Уменьшаем ширину (было 50%) */
    max-height: 40%; /* Уменьшаем высоту (было 50%) */
    object-fit: contain; /* Чтобы изображение помещалось в контейнер и сохраняло пропорции */
    opacity: 0.7; /* Непрозрачность изображения */
}
